body{
    margin: 0;
    padding: 0;
    border: 0;

    
}
*{
    font-family: 'Italianno';
    font-size: x-large;
    /* overflow: hidden; */
}

navbar{
    width: 100%;
    height: 75px;
    background: #4C5434;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    /* overflow: hidden; */
    
}


.navLinks{
    /* width: min(50%,80%); */
    width: min(80vw, 50%);
    padding-right: 50px;
}

.nav-element{
    /* padding-right: 50px; */
    display: flex;
    justify-content: space-between   ;
    /* width: 100%; */
}
.nav-element li{
    display: inline-block;
    padding: 10px;
}
.nav-element li a{
    text-decoration: none;
    display: inline-block;
    text-align: right;
    font-weight: 500;
    color: #ffffff;
    white-space: nowrap;
    font-family: 'Montserrat';
    font-size: initial;
}
.nav-element li::after{
    content: '';
    background-color: rgb(255, 255, 255);
    width: 0%;
    height:1px;
    display: block;
    margin: auto;
    transition: .3s ease-in-out;

}
.nav-element li:hover::after{
    width: 100%;
    
}
.navlogo{
    width: 150px;
    /* padding: 25px; */
    padding-left: 50px;
    text-decoration: none;
    color: white;
    font-size: 1px;
}
.navlogo img{
    width: 100%;
    height: auto;
}
.close{
    /* width: 15px; */
    height: auto;
    display: none;
}
.open{
    /* width: 20px; */
    height: auto;
    display: none;
}

@media screen and (max-width: 1060px) and (min-width: 1025px) {
    
    .navLinks {
      width: 60%;
      
    }
  }
@media (max-width:1024px){
    .nav-element{
        position: absolute;
        inset: 0 0 auto 30%;
        background:#4C5434;
        flex-direction: column;
        justify-content: flex-start;
        padding: min(12vh,10rem) 0em;
        align-items: flex-start;
        transform: translateX(100%);
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        transition: .3s ease;
    }
    .navlogo{
        padding-left: 1rem;
    }
    .close{
        /* display:inline-block; */
        /* background-color: brown; */
        z-index: 2;
        position: absolute;
        width: 1.3rem;
        top: 1rem;
        right: 1rem;
    }

    .open{
        display:inline-block;
        /* background-color: brown; */
        z-index: 2;
        position: absolute;
        width: 1.3rem;
        top: 1rem;
        right: 1rem;
    }
}
.main-section{
    height: 600px;
    background-image: url(./resources/main-img.jfif);
    background-size: 100% auto;
    
}

section{
    padding-bottom: 50px;
    height: 100%;
    
}
#myVideo {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
.section-1{
    /* margin-top: 5%; */
    height: 100vh;
    height:100svh;
    overflow:hidden;

    
}

.about-content{
    background-image:linear-gradient(270deg, rgba(0, 0, 0, 0.358) 28.91%, #0000005a 100%);
    /* url(./resources/main-img.jfif); */
    /* background: url(./resources/main-img.jfif), lightgray 50% / cover no-repeat, #EFEFEF; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    color: #ffffff;


    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: center;
    align-items: center;
    text-align: center;
   

}
.section-main{
    background-image:linear-gradient(270deg, rgba(0, 0, 0, 0.271) 28.91%, #00000042 100%),
    url(./resources/main-img.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}


.main-content{
    /* padding-left: 5%; */
    padding-left: 0px;
    width: 50%;
}

.main-content h1{
    font-size: 6vw;
    color: #FFCD4B;
    font-weight: 400;
    margin: 0;
}

.main-content p{
    font-size: 130%;
    
}
.main-content a>button{
    font-size: 20px;
    margin-top: 30px;
    padding: 10px 35px;
    text-decoration: none;
    border: 0;
    background: #4C5434;
    color: white;
    border-radius: 22px 0px;
    transition: .3s ease;
    width: 200px;
    font-family: 'Montserrat';
    font-size: 20px;
}

.main-content a>button:hover {
    background-color: #ffffffda;
    color: #4C5434;
    border: 2px solid #4C5434;
    transition: .3s ease;
}



@media (max-width:800px){
    
    .about-content{
        align-items: center;
        text-align: center;
    }
    .main-content{
        margin: 0px;
        padding-left: 0px;
        width: 90%;
    }
    .main-content h1{
        font-size: 300%;
        line-height: 50px;
    }

    .main-content p{
        font-size: 100%;
    }

    .about-section{
        flex-direction: column-reverse;
        
        align-items: center;
        row-gap: 30px;
        margin-block: 15%;
        
        
    }
}

/* background: rgba(0, 0, 0, 0.48); */
section {
    padding: 50px;
    height: 100%;
}

.about-section{
    display: flex;
    justify-content: space-between;
    /* margin: 10% 0 ; */
    /* margin-bottom: 0; */
  }

.abt-content{
    width: 40%;
}

.abt-content h1{
    font-size: 60px;
    color: #81A717;
    margin: 0;
    font-weight: 400;
}
.abt-content p{
    font-family: 'Montserrat';
    font-size: initial;
    text-align: justify;
}

.abt-content a{
    display: block;
    
}

.abt-content a>button{
    font-size: 20px;
    margin-top: 30px;
    padding: 10px 35px;
    text-decoration: none;
    border: 0;
    background: #4C5434;
    color: white;
    border-radius: 22px 0px;
    transition: .3s ease;
    width: 170px;
    font-family: 'Montserrat';
    font-size: initial;
}

.abt-content a>button:hover {
    background-color: #ffffff;
    color: #4C5434;
    border: 2px solid #4C5434;
    transition: .3s ease;
}
.about-img{
    width: 50%;
}

  .about-img img{
    width: 100%;
    /* width: 40%; */
    height: auto;

  }

  @media (max-width:800px){
    .about-section{
        flex-direction: column-reverse;
        
        align-items: center;
        row-gap: 30px;
        
        
    }
    .custom-section{
        margin-block: 15%;
    }
.abt-content{
    width: 90%;
    text-align: center;
}
.abt-content h1{
    font-size: 50px;
    
}
.about-img{
    width: 100vw;
    text-align: center;
}
    .about-img img{
        object-fit: contain;
        width: 90%;
        object-position: center;
        
    }
    section{
        padding: 0;
    }
  }


  .custom{
    font-size: 60px;
    font-weight: 400;
    color: #4C5434;
    margin: 0;
  }
  .custom-section p{
    font-size: 35px;
    color: #81A717;
    font-weight: 400;
    margin-top: 0;
  }

  .carousel-container {
    /* width: 80%; Adjust the width as needed */
    width: 100%; /* Optional: Set a max-width if necessary */
    overflow: hidden;
    margin: auto;
  }

  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-item {
    min-width: 100%;
    box-sizing: border-box;
  }
  .carousel-item img{
    width: 100%;
    height: auto;
  }
  .custom-section1{
    margin-inline: auto;
  }

@media (max-width:800px){
    .carousel-container{
        /* width: 95%; */
    }
    .custom-section{
        width: 90%;
        margin-inline: auto;
    }
    .custom{
        font-size: 50px;
    }
    .custom-section{
        font-size: 25px;
    }
}

.grid-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    justify-content: center;
}
.grid-container a{
    
    width: 400px;
}
.grid-container a img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.custom-section > a{
    display: block;
    width: fit-content;
    text-align: center;
    margin-inline: auto;
}
.custom-section a>button{
    /* font-size: 30px; */
    margin-top: 30px;
    padding: 10px 25px;
    text-decoration: none;
    border: 0;
    background: #4C5434;
    color: white;
    border-radius: 22px 0px;
    transition: .3s ease;
    width: 200px;
    font-family: 'Montserrat';
    font-size: initial;
}

@media (max-width:800px){
    .grid-container{
        gap: 30px;
    }
}


.custom-section a>button:hover {
    background-color: #ffffff;
    color: #4C5434;
    border: 2px solid #4C5434;
    transition: .3s ease;
}
.card-container{
    position: relative;
    /* width: 95%; */
    margin-left: auto;
    margin-right: auto;
    /* margin-block: 5%; */
}

.card-container p{
    
        font-size: 35px;
        color: #81A717;
        font-weight: 400;
        margin-top: 0;
      
}
.carousel-container-1 {
    width: 60%;
    height: auto;
    /* max-width: 600px; */
    overflow: hidden;
    margin: 0 auto;
    /* position: relative; */
}

.carousel-inner-1 {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item-1 {
    flex: 0 0 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: justify;
    background-color: #fff;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-size: initial;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.carousel-btn {
    cursor: pointer;
    font-size: 18px;
    /* margin: 0 10px; */
    padding: 8px 12px;
    border: none;
    /* background-color: #3498db; */
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 60%;
    width: auto;
    height: auto;
    transform: translateY(-50%);
}


.carousel-btn:hover {
    background-color: #a5a5a5;
}

.prev-btn {
    left: 0;
   

}

.next-btn {
    right: 0;
}

@media (max-width:800px){
    .carousel-container-1 {
        width: 80%;
        height: auto;
    }
    .card-container{
        width: 90%;
        height: auto;
        margin-block: 15%;
    }
}
a{
    text-decoration: none;
}

.attraction-container> p{
    
    font-size: 35px;
    color: #81A717;
    font-weight: 400;
    margin-top: 0;
}
.tile-container{
    display: flex;  
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15% 2%;
}

.tile{
    text-align: center;
    color: black;
    /* width: 30.3333%; */
    height: auto;
    max-width: 450px;
    margin-top: 2%;

}

.tile h1{
    margin: 0;
    font-family: 'Montserrat';
    font-size: 25px;
    /* font-weight: 400; */
}

.tile p{
    font-family: 'Montserrat';
    font-size: initial;
    margin: 0;
}
.tile img{
    /* width: 700px; */
    height: 250px;
    width: 100%;

    /* height: 100%; */
    object-fit: cover;
    object-position: center;
}

@media (max-width:800px){
    .attraction-container{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

footer{
    /* font-family: initial;*/
    background-image: url(./resources/footer.webp);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;

    width: 100%;
    height: auto;
    padding-top: 30px;
    position: relative;
    margin-top: 5%;
}
footer>h1{
    font-size: 50px;
    color: rgb(255, 205, 75);
    font-weight: 400;
    /* margin-top: 0px; */
    text-align: center;
}
.footer-container h1{
    font-family: 'Montserrat'  ;
    font-weight: 400; 
    font-size: 20px;
    
}
.footer-container li{
    list-style: none inside;
    /* padding-left: 30px; */
}
.footer-container a{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat'  ;
    font-weight: 200 !important;
    font-size: initial;

}

.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color: white;
    position: absolute;
    top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
   
}

.footer-card{
    /* text-align: center; */
    width: 250px;
    height: auto;
}

@media (max-width:600px){
    footer{
        height: 800px;
    }
    .footer-container{
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        row-gap: 20px;
    }
}

.final-footer{
    text-align: center;
    padding: 40px;
    background-color: #4C5434;
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: initial;
}
.final-footer b, u{
    font-family: 'Montserrat';
    font-size: initial;
}
.container-carousel h4{
    font-size: 35px;
    color: #81A717;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 0;
}
.container-carousel p{
    font-family: 'Montserrat';
    font-size: initial;
}

.container-carousel a>button{
  
        /* font-size: 30px; */
        /* margin-top: 10px; */
        padding: 6px 35px;
        text-decoration: none;
        border: 0;
        background: #4C5434;
        color: white;
        border-radius: 22px 0px;
        transition: .3s ease;
        width: 200px;
        font-family: initial;
        font-size: initial;
    }
    
    .container-carousel a>button:hover {
        background-color: #ffffff;
        color: #4C5434;
        border: 2px solid #4C5434;
        transition: .3s ease;
    }

    .container-carousel a{
        /* display: block; */
        /* object-position: center; */
        text-align: center;
    }
    .btn-container{
        display: grid;
        margin-bottom: 5%;
    }
@media (max-width:800px){
    .container-carousel{
        width: 90%;
        height: auto;
        margin-top: 10%;
        margin-right: auto;
        margin-left: auto;
    }
    .container-carousel p{
        font-size: 16px;
    }
}
.amenities-section{
    text-align: center;
}
@media (max-width:800px) {
    .amenities-section{
        margin-top: 10%;
        width: 90%;
        margin-inline: auto;
    }
}
.amenities-section >p{
    font-size: 35px;
    color: #81A717;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}
.amenities-grid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
@media (max-width:800px) {
    .amenities-grid{
        gap:20px
    }
}

.amenities-tile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
}
.amenities-tile img{
    max-width: 60px;
    width: 100%;
    /* height: auto; */
    object-fit: contain;
    object-position: bottom;
    height: 70px;
}
.amenities-tile p{
    /* margin-left: 5%; */
    font-family: 'Montserrat';
    font-size: initial;
}

.card-item{
    width: 33.33%;
    height: 400px;
    position: relative;
    border-radius: 10px;
    /* background-color: #4C5434; */
    /* padding: 20px; */
    /* -webkit-box-shadow: 23px 26px 39px -5px rgba(0,0,0,0.4);
-moz-box-shadow: 23px 26px 39px -5px rgba(0,0,0,0.4);
box-shadow: 23px 26px 39px -5px rgba(0,0,0,0.4); */

}

.card-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card-item h1{
    position: absolute;
    top: 40%;
    left: 10%;
    color: white;
    font-weight: 600;
    font-size:40px ;
    font-family: "Montserrat";
}
@media (max-width:800px) {
    .additional-container{
        width: 90%;
        margin-inline: auto;
    }
    .card-item h1{
        font-size:30px ;
        top: 50%;
    }
}
@media (max-width:500px) {
    .swiper-button-next,.swiper-button-prev{
        display: none;
    }
}
/* .rooms-container{
    display: flex;
} */

.swiper-button-next,.swiper-button-prev{
    color: #81A717;
}

.furnished p{
    font-family: "Montserrat";
    font-size: 16px;
    color: black;
} 
.unfurnishied p{
    font-family: "Montserrat";
    font-size: 16px;
    color: black;
}

.unfurnishied h4{
    /* font-family: "Montserrat"; */
    font-size: 35px;
    color: #4C5434;
    font-weight: initial;
    margin-bottom: 0;
}

.furnished h4{
    /* font-family: "Montserrat"; */
    font-size: 35px;
    color: #4C5434;
    font-weight: initial;
    margin-bottom: 0;

} 
.furnished > a{
    display: block;
    width: fit-content;
    text-align: center;
    margin-inline: auto;
}
.btn-container > a{
    display: block;
    width: fit-content;
    text-align: center;
    margin-inline: auto;
    /* height: min-content; */
}


.celebration-container{
margin-inline: auto;
}
.celebration-container img{
    width: 100%;
    height: auto;
}
.celebration-section a{
    margin-inline: auto;
    text-align: center;
    display: block;
    width: fit-content;
    /* transform: translateX(300%); */
}
.celebration-section a>button{
    /* font-size: 30px; */
    margin-top: 30px;
    padding: 10px 25px;
    text-decoration: none;
    border: 0;
    background: #4C5434;
    color: white;
    border-radius: 22px 0px;
    transition: .3s ease;
    width: 200px;
    font-family: 'Montserrat';
    font-size: initial;
}


@media (max-width:800px) {
    .celebration-section{
        margin-block: 5%;
    }
    
    
    .celebration-container{
        width: 90%;   
    }
}

a{
    text-decoration: none;
    color: inherit;
}

.lightbox {
    display: none;
    position: fixed;
    top: 5%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
  }

  .lightbox img {
    max-width: 80%;
    max-height: 80%;
  }
   .close-icon {
    position: absolute;
    top: 70px;
    right: 10px;
    color: #fff;
    font-size: 34px;
    cursor: pointer;
    /* background-color: blue; */
  }
  body.lightbox-open {
    overflow: hidden;
    height: 100vh;
  }

  /* Media queries for responsiveness */
  @media (max-width: 600px) {
    
    .lightbox img{
      max-width: 95%;
        max-height: auto;
    }
  }